*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-image: url("../img/page-bg-1.jpg");
	background-repeat: repeat;
	font-family: arial;
	color: grey;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
header{
	border-bottom: 1px solid lightgrey;
	background-color: #fff;
}
.navigation {
 	margin-top: 40px;
}
.navigation .navbar {
	float:right;
	border-bottom: 1px dotted #a9a9a9;
	border-top: 1px dotted #a9a9a9;
}
.navbar .nav > li > a {
	font-family: "Oswald", sans-serif;
	font-weight: normal;
	text-shadow: none;
	text-transform:uppercase;
	font-size:12px;
	padding: 13px 15px 11px;
}
.dropdown-toggle{
	color: #000;
}
li a{
	color: #000;
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
	color:#FFF;
	background-color:#d8450b;
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  	color:#FFF;
	background-color:#d8450b;
}

ul.nav li.dropdown:hover ul.dropdown-menu{ display: block; }
.dropdown-menu{
	font-family: "Oswald", sans-serif;
	font-weight: normal;
	text-transform:uppercase;
	font-size:13px;
	padding: 10px;
	margin: 0px;
	background-color: #383838;
	border: none;
	*border-right-width: none;
	*border-bottom-width: none;
	-webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
	-webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
	-webkit-background-clip: none;
     -moz-background-clip: none;
          background-clip: none;
}
.navbar .nav > li > .dropdown-menu:before {
  border-right: 0px;
  border-bottom: 0px;
  border-left: 0px;
  border-bottom-color: none;
}
.dropdown-menu a {
	color: #ababab;
	border-bottom:1px solid #474747;
	padding: 10px 10px;
	margin:0px 10px;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  color: #f9f9f9;
  text-decoration: none;
  background-color: #383838;
  background-image: none;
  filter: none;
}
.navbar .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.navbar .nav > li > .dropdown-menu:before,
.navbar .nav > li > .dropdown-menu:after {
  display: none;
}
.background{
	background-image: url(../img/001.00-copy-1.jpg);
	background-size: cover;
	background-repeat:  no-repeat;
	background-position: center;
}
header#masthead.site-header.navbar-fixed {
position: fixed;
z-index: 999;
width: 100%;
top: 0px; 
background-color: #fff;
}
.tinggi_logo{
	height: 100px;
}
.navigation2{
	margin-top: 28px;
}
.row2{
	margin-top: 40px;
}
.fa-map-marker-alt{
	width: 40px;
	padding-left: 10px;
	padding-top: 5px;
	font-size: 25px;
	display: inline-block;
	z-index: 1;
	padding:
}
.margin-ttop{
	margin-top: 30px;
}
.row2 input[type=text]{
	margin-left: -40px;
	padding-left: 40px;
	border-radi`us: 0px;
}
.row2 .btn{
	border-radius: 0px;
}
.back{
	padding-top: 15px;
	background-color: #ffffff;
}
.image{
	max-width: 100%;	
}
.part1{
	text-align: justify;
	padding: 20px 0px;
}
.uk{
	color : black;
	font-size: 30px;
	text-align: center;
}
.part2, .part4{
	text-align: justify;
	margin-bottom: 20px;
}
.part2{
	padding: 10px 0px 40px;
	margin-bottom: 0px;
}
.part3, .part5{
	box-sizing: border-box;
	padding: 70px 0px;
	color: white;
	background-color: #d8450b;
}
.profile{
	max-width: 50%;
}
.part5{
	padding: 100px 0px;
}
.uk2{
	color : black;
	font-size: 40px;
	text-align: center;
}
.part4{
	margin-top: 20px;
	padding: 60px 0px;
}
.btn{
	padding: 0px;
	box-sizing: border-box;
	color: white;
}
.btn1{
	background-color: #3a6ab7;
	padding: 10px 0px;
}
.btn2{
	background-color: #72e54b;
	padding: 10px 0px;
}
.btn3{
	background-color: #703bba;
	padding: 10px 0px;
}
.btn4{
	background-color: #335fa5;
	padding: 10px 0px;
}
.mx{
	max-width: 25%;
	padding-right: 10px;
}
footer{
	background-color: grey;
	color: #fff;
	margin-top: 0px;
}
.row12{
	width: 900px;
	margin: auto;
}
.copyright{
	text-align: center;
	margin: auto;
	padding: 30px;
}
.container-fluid .col-lg-3 h5{
	margin-top: 20px;
}