*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: #f9f9f9 url(../img/page-bg-1.jpg);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.section{
	margin-top: 10px;
}
.form{
	border: solid 2px;
	background-color: white;
	display: block;
	margin: auto;
	color: black;
	border-radius: 5px;
	padding-bottom: 20px;
	box-sizing: border-box;
}
.button{
	display: block;
	margin: auto;
}