*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: #f9f9f9 url(../img/page-bg-1.jpg);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
header{
	border-bottom: 1px solid lightgrey;
	background-color: #fff;
}
.navigation {
 	margin-top: 40px;
}
.navigation .navbar {
	float:right;
	border-bottom: 1px dotted #a9a9a9;
	border-top: 1px dotted #a9a9a9;
}
.navbar .nav > li > a {
	font-family: "Oswald", sans-serif;
	font-weight: normal;
	text-shadow: none;
	text-transform:uppercase;
	font-size:12px;
	padding: 13px 15px 11px;
}
.dropdown-toggle{
	color: #000;
}
li a{
	color: #000;
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
	color:#FFF;
	background-color:#d8450b;
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  	color:#FFF;
	background-color:#d8450b;
}

ul.nav li.dropdown:hover ul.dropdown-menu{ display: block; }
.dropdown-menu{
	font-family: "Oswald", sans-serif;
	font-weight: normal;
	text-transform:uppercase;
	font-size:13px;
	padding: 10px;
	margin: 0px;
	background-color: #383838;
	border: none;
	*border-right-width: none;
	*border-bottom-width: none;
	-webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
	-webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
	-webkit-background-clip: none;
     -moz-background-clip: none;
          background-clip: none;
}
.navbar .nav > li > .dropdown-menu:before {
  border-right: 0px;
  border-bottom: 0px;
  border-left: 0px;
  border-bottom-color: none;
}
.dropdown-menu a {
	color: #ababab;
	border-bottom:1px solid #474747;
	padding: 10px 10px;
	margin:0px 10px;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  color: #f9f9f9;
  text-decoration: none;
  background-color: #383838;
  background-image: none;
  filter: none;
}
.navbar .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.navbar .nav > li > .dropdown-menu:before,
.navbar .nav > li > .dropdown-menu:after {
  display: none;
}
.background{
	background-image: url(../img/001.00-copy-1.jpg);
	background-size: cover;
	background-repeat:  no-repeat;
	background-position: center;
}
header#masthead.site-header.navbar-fixed {
position: fixed;
z-index: 999;
width: 100%;
top: 0px; 
background-color: #fff;
}
.tinggi_logo{
	height: 100px;
}
.navigation2{
	margin-top: 28px;
}
.row2{
	margin-top: 40px;
}
.fa-map-marker-alt{
	width: 40px;
	padding-left: 10px;
	padding-top: 5px;
	font-size: 25px;
	display: inline-block;
	z-index: 1;
	padding:
}
.margin-ttop{
	margin-top: 30px;
}
.row2 input[type=text]{
	margin-left: -40px;
	padding-left: 40px;
	border-radi`us: 0px;
}
.row2 .btn{
	border-radius: 0px;
}

.row1{
	background-color: #fff;
	padding-bottom: 113px;
}
.rowsub1,.rowsub2,.rowsub3,.rowsub4{
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 0.5px solid #b7b7b7;
}
.rowsub2{
	padding-bottom: 20px;
	border-bottom: none;
}
.section1{
	padding:20px 50px 10px 120px;

}
.section2{
	padding-top: 20px;
	padding-right: 50px;
}
.sectionhead{
	border-bottom: 1.5px solid #d8450b;
	font-size:17pt;	
}
.sectionphoto,.sectioninfo{
	padding-top:10px;
	padding-bottom: 10px;
}
.sectioninfo,.info,.infohead{
	font-size: 10pt;
}
.infohead{
	color:grey;
}
.info,.infohead{
	padding-top: 8px;
	padding-bottom: 2px;
}
button{
	border-radius:4px;
	border : 1px solid #d8450b;
	background-color: #fff;
	font-size:10pt;
	padding: 8px 30px 8px 30px;
	color:#d8450b;
	margin-top: 10px;
}
button:hover{
	background-color: #d8450b;
	color:#fff;
}
.butsearch{
	margin-top: 20px;
	margin-bottom: 4px;
}
.secheadsub{
	padding-top: 10px;
}
.status{
	font-size:10pt;
	padding-top: 10px;
	padding-bottom: 24px;

}
.copyright{
	text-align: center;
	margin: auto;
}
.row12{
	padding: 20px 0px;
	width: 900px;
	margin: auto;
}
footer{
	background-color: grey;
	color: #fff;
}
.rowsub4 .ruangan, .rowsub4 .col-lg-2{
	padding-top: 10px;
}
.rowsub1{
	border-bottom: none;
}
.rowsub4{
	margin-top: -30px;
}
.button-cek{
	width: 100%;
}
.butsearch{
	width: 100%;
}